<template name="about">
	{{> header}}
	<h1 class = "about" style="text-align:center; color:white">About Us</h1>
	<p style="margin:30px 100px 50px 100px;font-size:150%; color:white">CrickRate is a website that recommends user cricketer's video based on the users ratings of other cricketers. We are trying to use the metadata of cricketers, such as age, nationality and speciality (bowler, batsman, wicketkeeper) to recommend videos to the users. 
	</p>
<h1 style="text-align:center; color:white">Our Team</h1>
<!--Naman Gupta
Mohammed Nawazish
Samir Kher
<h2>Our Mentor</h2>
Dr. Angshul Majumdar
 -->
 	<!-- <h2 class="section-title" style="text-align:center;font-size:150">Our Team</h2> -->
		
		<div class="wrapper col8">
        <div id="services">
          <ul>
              <li><a href="#"><strong>Naman Gupta<br>BTech CSE</strong><img src="/assets/img/naman.jpg" alt="" /></a>
              </li>
              <!-- <div class="social-links">
					<a href="mailto:naman13141@iiitd.ac.in">naman13141@iiitd.ac.in</a>
				</div> -->
              <li><a href="#"><strong>Md Nawazish<br>BTech CSE</strong><img src="/assets/img/nawazish.jpg" alt="" /></a></li>
              <li><a href="#"><strong>Samir Kher<br>BTech CSE</strong><img src="/assets/img/samir.jpg" alt="" /></a></li>
          </ul>
          <br class="clear" />
        </div>
    </div>
</template>